<script type="text/ng-template" id="aswcustommessages.html">
    <div ng-message="required">{{::'NotNull-error' | translate:args }}</div>
    <div ng-message="pattern">{{::'Pattern-error' | translate:args }}</div>
    <div ng-message="minlength">{{::'minlength-error' | translate:args }}</div>
    <div ng-message="maxlength">{{::'maxlength-error' | translate:args }}</div>
    <div ng-message="email">{{::'email-error' | translate:args }}</div>
    <div ng-message="parse">{{::'parse-error' | translate:args }}</div>
    <div ng-message="autocomplete">{{::'autocomplete-error' | translate:args }}</div>
</script>