<!DOCTYPE html>
<html ng-app="MyFirstApp" ng-controller="myFirstAppController as invoice">

<head>
    <style>
    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 820px;
        height: 400px
    }
    </style>
    <link rel="stylesheet" type="text/css" href="/modules/ng-grid.css" />
    <link rel="stylesheet" type="text/css" href="/modules/style.css" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <meta charset="ISO-8859-1">
    <title>First Angular Page</title>
</head>

<body bgcolor="#FAEBD7">
    <script src="/modules/app.js"></script>
    <script src="/modules/ng-grid.js"></script>
    <!-- Currency -->
    <script src="/modules/currency/controllers/CurrencyController.js"></script>
    <script src="/modules/currency/services/CurrencyServices.js"></script>
    <!-- <div>
        <table>
            <div>                
                <tr>
                <td width="25%">
				    <span><b><p>Quantity:</p></b></span>
				    <input type="number" min="0" ng-model="invoice.qty" required>
				</td>
				<td width="25%">
				    <span><b><p>Costs:</p></b></span>
				    <input type="number" min="0" ng-model="invoice.cost" required>
				    <select ng-model="invoice.inCurr">
				        <option ng-repeat="c in invoice.currencies">{{c}}</option>
				    </select>
				</td>				
                </tr>
                <tr>
                	<td width="25%">
                    <span><b><p>User Name:</p></b></span>
                    <input type="text" ng-model="name" ng-change="filterName();" placeholder="Enter Your Name Here">
                </td>
                <td width="25%">
                    <span><b><p>From:</p></b></span>
                    <input type="text" ng-model="origin" ng-change="filterName();" placeholder="Enter Your Pickup Location Here">
                </td>
                <td width="25%">
                    <span><b><p>To:</p></b></span>
                    <input type="text" ng-model="destination" ng-change="filterName();" placeholder="Enter Your Drop off Location Here">
                </td>
                <td width="25%">
                    <span><b><p>Services:</p></b></span>
                    <select ng-model="service" ng-options="service.name for service in services"></select>                    
                    <tr>
                        <td>
                            <span><b><p>Currently selected:</p></b></span>
                            <div style="border:solid 1px black; height:20px" ng-style="{'background-color':service.name}">
                            </div>
                        </td>
						<td width="25%">
							<span><b><p>Total:</p></b></span>
		                    <span ng-repeat="c in invoice.currencies">
								{{invoice.total(c) | currency:c}}
							</span>
		                    <button class="btn" ng-click="invoice.pay()">Pay</button>
						</td>
                    <tr>
                </tr>               
            </div>
        </table>
    </div>
    <div>
        <button ng-click="searchbyname()">Search</button>
    </div>
    <div ng-grid="gridOptions" style="height:500px"></div> -->
    <div class="centered">
     <table>
                <tr>
	                <td width="25%" align="left">
					    <span><b><p> A Co efficient:</p></b></span>
					    <input type="text" min="0" ng-model="req.root1" required>
					</td>
                </tr>                
                 <tr>
                   <br>
	                <td width="25%" align="left">
					    <span><b><p>B Co efficient:</p></b>
					    	<input type="text" min="0" ng-model="req.root2" required>
					</td>
                </tr>
                 <tr>
                 	<br>
	                <td width="25%" align="left">
					    <span><b><p>C Co efficient:</p></b></span>
					    <input type="text" min="0" ng-model="req.root3" required>
					</td>
                </tr>
                  <button class="button" style="position: absolute; left: 50%; right: 50%; bottom: 50%;" ng-click="findroot()">Solution</button>                 
                 <tr>
                   <td>
                        </br></br>
                  		<span><b>X1</b></span> : {{userInformationList.x1}} 
                   <td>
                 </tr>
                  <tr>
                   <td>
                        </br></br>
                  		<span><b>X2</b></span> : {{userInformationList.x2}}
                   <td>
                 </tr>
     </table>
     </div> 
</body>

</html>
