<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Usual webserver Appender to server.log -->
    <appender name="logfile" class="org.apache.log4j.FileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="File" value="logs/server.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ABSOLUTE} (%x) %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- The new LogRequestAppender -->
    <appender name="logrequest" class="com.flurry.util.logRequest.LogRequestAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ABSOLUTE} (%x) %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Top-Level Logger that we might want debug logs from -->
    <logger name="com.techmania">
        <level value="debug"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="debug"/>
        <appender-ref ref="logfile"/>
        <appender-ref ref="logrequest"/>
    </root>

</log4j:configuration>