<center>
<H1>PLACE TO FIND ROOT</H1>
 <div class="box-style1">
 <form id="findRootForm" name="findRootForm" novalidate="novalidate">
     <table class="display-table" width="450">
     <tbody>
                <tr>
	                <td width="150" align="left" valign="top"><strong>A Co efficient<span class="mad">*</span></strong></td>
					<td  valign="top">
						<input type="number" name="root1" id="root1" min="-100000000000" ng-model="req.root1" required placeholder="ENTER A CO EFFICIENT" ng-pattern="/^[0-9]{1,20}$/">
						<span ng-show="findRootForm.root1.$touched && findRootForm.root1.$invalid" class="error">
							<span ng-show="findRootForm.root1.$error.required">Root1 is required.</span>
							<span ng-show="findRootForm.root1.$error.pattern">Enter the number alone.</span>
						</span>
					</td>
                </tr>                
                <tr>
	                <td align="left" valign="top"><strong>B Co efficient<span class="mad">*</span></strong></td>
					<td valign="top">
						<input type="number" name="root2" id="root2" min="-100000000000" ng-model="req.root2" required placeholder="ENTER B CO EFFICIENT">
						<span ng-show="findRootForm.root2.$touched && findRootForm.root2.$invalid" class="error">
							<span ng-show="findRootForm.root2.$error.required">Root2 is required.</span>
							<span ng-show="findRootForm.root2.$error.pattern">Enter the number alone.</span>
						</span>
					</td>
                </tr>
                <tr>
	                <td align="left" valign="top"><strong>C Co efficient<span class="mad">*</span></strong></td>
					<td valign="top">
						<input type="number" min="-100000000000" name="root3" id="root3" ng-model="req.root3" required placeholder="ENTER C CO EFFICIENT" ng-pattern="/^[0-9]{1,20}$/">
						<span ng-show="findRootForm.root3.$touched && findRootForm.root3.$invalid" class="error">
							<span ng-show="findRootForm.root3.$error.required">Root3 is required.</span>
							<span ng-show="findRootForm.root3.$error.pattern">Enter the number alone.</span>
						</span>
					</td>
                </tr>
                <tr>
	                <td align="left"><strong>X1</strong></td>
					<td>{{userInformationList.x1}}</td>
                </tr>
                <tr>
	                <td align="left"><strong>X2</strong></td>
					<td>{{userInformationList.x2}}</td>
                </tr>
                <tr>
	                <td align="right" colspan="2">
	                <button class="btn pbtn" ng-click="findroot()">Solution</button>
	                <button class="btn sbtn" type="reset">Clear</button>
	                </td>
                </tr>
                
                </tbody>                   
     </table>
     </form>
     </div>
     </center> 