<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- As part of ACE Basic 4.0 migration (4.0.26) -->
	<appender name="COMMON_LOGGING" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="debug" />
		<param name="Append" value="true" />
		<param name="File" value="D:\project\project_three\logs\common_log_filter.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!-- For production change all debugs and infos to error -->
	<logger name="com.techmania">
		<level value="debug" />
	</logger>

	<!-- Classes that log a lot and are turned off in QA as well -->
	<root>
		<priority value="info" />
		<appender-ref ref="COMMON_LOGGING" />
	</root>
</log4j:configuration>